.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  border: 1px black solid;
}

.cell {
    width: 64px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.cell img {
    width: 50px;
    height: 50px;
}

.index-board {
    display: flex;
    flex-direction: column;
}

.letter-board {
    display: flex;
    flex-direction: row;
}

.black {
    background-color: rgba(0,0,0,0.4);
}

.white {
    background-color: bisque;
}

.selected {
    background-color: brown;
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: green;
}

.cell-available {
    background-color: green;
}

.lost {
    height: calc(50vh - 60px);
    padding: 30px;
    margin: 40px;
    background-color: rgba(0,0,0,0.3);
}

.lost img {
    width: 50px;
    height: 50px;
}

.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal-content {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.5s;
}

.modal-content.active {
    transform: scale(1);
}